<div class='form-group'>
  <%= f.label :dietary_preferences %>
  <%= f.text_field :dietary_preferences, class: 'form-control', required: true %>
</div>

<div class='form-group'>
  <%= f.label :dietary_restrictions %>
  <%= f.text_field :dietary_restrictions, class: 'form-control', required: true %>
</div>

<div class='form-group'>
  <%= f.label :allergies %>
  <%= f.text_field :allergies, class: 'form-control', required: true %>
</div>

<div class='form-group'>
  <%= f.label :fitness_level %>
  <%= f.text_field :fitness_level, class: 'form-control', required: true %>
</div>
