<div class='camp-roster'>
  <table class='table table-striped'>
      <tr>
        <th>
          name
        </th>
        <th>
          application
        </th>
        <th>
          health
        </th>
        <th>
          travel
        </th>
        <th>
          legal
        </th>
        <th>
          profile updated
        </th>
      </tr>
    <% @campers.each do |camper| %>
      <tr>
        <td>
          <%= camper.name %>
        </td>
        <td>
          <% if camper.last_completed_application %>
            <%= link_to "completed", application_path(camper.last_completed_application.id) %>
          <% else %>
            not completed
          <% end %>
        </td>
        <td>
          <% if camper.last_health_form %>
            <%= link_to "completed", health_path(camper.last_health_form.id) %>
          <% else %>
            not completed
          <% end %>
        </td>
        <td>
          <% if camper.last_travel_form %>
            <%= link_to "completed", travel_path(camper.last_travel_form.id) %>
          <% else %>
            not completed
          <% end %>
        </td>
        <td>
          <% if camper.last_legal_form %>
            <%= link_to "completed", legal_path(camper.last_legal_form.id) %>
          <% else %>
            not completed
          <% end %>
        </td>
        <td>
          <% if !camper.profile_needs_updating %>
            complete
          <% else %>
            not completed
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
