<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "My Application" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<div class='container'>
  <div class='form'>
    <%= button_to 'oops take me back', root_path, class: 'btn btn-primary', method: 'get' %>
    <%= form_for @legal do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
      <%= f.submit 'Save', class: 'btn btn-primary', required: true %>
    <% end %>
  </div>
</div>
